<!-- app.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenue sur notre application de gestion des établissements scolaires
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre application</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cette application vous permet de gérer efficacement les établissements scolaires utilisant le système LMD. Vous pouvez ajouter des établissements, assigner des administrateurs, gérer les cours et bien plus encore.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/ajouter-etablissement">Ajouter un établissement</ion-button>
  <ion-button expand="full" routerLink="/ajouter-administrateur">Ajouter un administrateur</ion-button>

  <ion-footer>
    <ion-toolbar>
      <ion-title>© 2024 Notre Application</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
